In [3]:
import pandas as pd
import datetime

In [4]:
haircuts_csv = ('haircuts2.csv')
cardboard_csv = ('CSC1980.csv')
haircuts = pd.read_csv(haircuts_csv)
cardboard = pd.read_csv(cardboard_csv)

In [5]:
# haircuts.rename(columns={"Native Frequency": "date", "MONTHLY": "price"})
haircuts['date'].head()

0    Dec-97
1    Jan-98
2    Feb-98
3    Mar-98
4    Apr-98
Name: date, dtype: object

In [6]:
haircuts.dtypes

date      object
price    float64
dtype: object

In [7]:
cardboard.head()

         DATE  PCU32221132221102
0  1980-03-01              100.0
1  1980-04-01              100.0
2  1980-05-01              101.4
3  1980-06-01              101.4
4  1980-07-01              101.4

In [8]:
# take all of the dates in cardboard
# pull out the month number and assign it a 3-letter month name
# add a dash
# pull out the year number and append it to the month name and das

x = cardboard["DATE"].iloc[0]

x

'1980-03-01'

In [9]:
shortened = x[:7]
shortened

'1980-03'

In [10]:
year = shortened[:4][-2:]
year

'80'

In [11]:
month_num = shortened[-2:]

In [12]:
month_num

'03'

In [13]:
month_names = []
month_dict = {"01":"Jan", "02": "Feb", "03": "Mar"}

if month_num == "01":
    month_name = "Jan"
elif month_num == "02":
    month_name = "Feb"
elif month_num == "03":
    month_name = "Mar"
elif month_num == "04":
    month_name = "Apr"
elif month_num == "05":
    month_name = "May"
elif month_num == "06":
    month_name = "Jun"
elif month_num == "07":
    month_name = "Jul"
elif month_num == "08":
    month_name = "Aug"
elif month_num == "09":
    month_name = "Sep"
elif month_num == "10":
    month_name = "Oct"
elif month_num == "11":
    month_name = "Nov"
elif month_num == "12":
    month_name = "Dec"
else:
    month_name = "Error"

In [14]:
month_name

'Mar'

In [15]:
haircut_format = month_name + "-" + year

In [16]:
haircut_format

'Mar-80'

In [17]:
cardboardtohaircutdates = []

for i in range(cardboard.shape[0]):
    x = cardboard["DATE"].iloc[i]
    shortened = x[:7]
    year = shortened[:4][-2:]
    month_num = shortened[-2:]
    if month_num == "01":
        month_name = "Jan"
    elif month_num == "02":
        month_name = "Feb"
    elif month_num == "03":
        month_name = "Mar"
    elif month_num == "04":
        month_name = "Apr"
    elif month_num == "05":
        month_name = "May"
    elif month_num == "06":
        month_name = "Jun"
    elif month_num == "07":
        month_name = "Jul"
    elif month_num == "08":
        month_name = "Aug"
    elif month_num == "09":
        month_name = "Sep"
    elif month_num == "10":
        month_name = "Oct"
    elif month_num == "11":
        month_name = "Nov"
    elif month_num == "12":
        month_name = "Dec"
    else:
        month_name = "Error"
    haircut_format = month_name + "-" + year
    cardboardtohaircutdates.append(haircut_format)
    
len(cardboardtohaircutdates)

488

In [18]:
cardboard

           DATE  PCU32221132221102
0    1980-03-01              100.0
1    1980-04-01              100.0
2    1980-05-01              101.4
3    1980-06-01              101.4
4    1980-07-01              101.4
..          ...                ...
483  2020-06-01              358.9
484  2020-07-01              358.9
485  2020-08-01              358.9
486  2020-09-01              358.9
487  2020-10-01              358.4

[488 rows x 2 columns]

In [19]:
# cardboard["DATE"] = ['cardboardtohaircutdates'].values
cardboard['DATE'] = cardboardtohaircutdates
# cbdf = cardboard.drop(columns=['date'])
cbcleaned = cardboard.rename(columns={"DATE": "date", "PCU32221132221102": "cardboard_pice"})
cbcleaned.head()
len(cbcleaned)

488

In [20]:
hccleaned = haircuts.rename(columns = {'price': 'haircut_price'})
len(hccleaned)

275

In [21]:
consumerprices = hccleaned.merge(cbcleaned, left_on='date', right_on='date')
len(consumerprices)

275

In [22]:
consumerprices.to_csv(r'consumerprices.csv', index = False)

In [23]:
df = pd.read_csv('consumerprices.csv')
df.head()

     date  haircut_price  cardboard_pice
0  Dec-97          100.0           168.3
1  Jan-98          100.2           172.1
2  Feb-98          100.2           172.1
3  Mar-98          100.5           172.1
4  Apr-98          100.8           172.9

In [26]:
len(df)

275

In [24]:
import calendar
calendar.monthrange(97, 12)

(6, 31)

In [25]:
print(f'haircuts: {len(haircuts)}, cardboard:{len(cardboard)}')

haircuts: 275, cardboard:488